<header class="sticky-top text-white">
  <nav class="navbar bg-danger">
    <a class="navbar-brand text-light" [routerLink]="['/news']">
      <img src="assets/images/newspaper.png" width="30" height="30" class="d-inline-block align-top inverted" alt="">
      NEWS
    </a>
    <form class="form-inline my-2 ">
      <p class="my-2 my-sm-0 px-3">
        <img src="https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/person-fill.svg" class="inverted" width="30"
          height="30" alt="">
        User</p>
      <button class="btn btn-danger active my-2 my-sm-0" type="submit">Log out</button>
    </form>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="mx-auto">
      <h2>{{this.newsSource}}</h2>
    </div>
  </nav>
  <app-admin-panel (newsSource)='receiveNewsSource($event)'></app-admin-panel>
</header>