<header class="sticky-top text-white">
  <nav class="navbar bg-danger">
    <a class="navbar-brand text-light" [routerLink]="['/news']">
      <img src="assets/images/newspaper.png" width="30" height="30" class="d-inline-block align-top inverted" alt="">
      NEWS
    </a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-light" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/news']">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Sport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Reel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Future</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Culture</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
